/* Estilos gerais para o componente */
div {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título */
h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Lista de exercícios */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 18px;
  margin: 10px 0;
}

/* Botões de incremento */
button1 {
  margin-left: 10px;
  padding: 8px 12px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button2 {
  margin-left: 10px;
  padding: 8px 12px;
  font-size: 16px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Estilo para o contador de água */
p {
  font-size: 18px;
  margin-top: 20px;
}

button:last-of-type {
  background-color: green;
}

button:last-of-type:hover {
  background-color: green;
}
